:root {
	--mxw: 1440px;
	--gap: .5rem;
	--gap-x2: calc(var(--gap) * 2);
	--gap-x3: calc(var(--gap) * 3);
	--pill-bg: #e3eaef;
	--fg-primary: #bfbcc1;
	--sea-green: #02c0ce;
	--sea-green-2: #06d0f2;
	--bg1: #f7f5ff;
	--input-bg2: #ede9f1;
	--radius: 6px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
button,
input,
select {
	font-family: 'Open Sans';
}

p,
button,
input,
select,
th,
td {
	font-weight: 300;
	font-size: .95rem;
}

button {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: none;
	padding: var(--gap) var(--gap-x2);
	margin: 0 calc(var(--gap) * .5);
	border-radius: calc(var(--radius) * .5)
}

svg.feather {
	--size: 17px;
	fill: none;
	stroke: currentColor;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	width: var(--size);
	height: var(--size);
	margin-right: var(--gap);
}

.text-large {
	font-weight: 700;
}

.text-medium {
	font-weight: 500;
}

.text-normal {
	font-weight: 300;
}

.flex,
.flex-rr,
.flex-c,
.flex-cr {
	display: flex;
}

.flex-rr {
	flex-direction: row-reverse;
}

.flex-c {
	flex-direction: column;
}

.flex-cr {
	flex-direction: column-reverse;
}

.aic {
	align-items: center;
}

.ail {
	align-items: ;
}

.jcc {
	justify-content: center;
}

.jcsb {
	justify-content: space-between;
}

.Panel {
	background-color: #fff;
}


/* Components */

.PageNav {
	padding: var(--gap-x2);
}

.PageNav .user-profile {
	margin-left: auto;
}

.PageNav .user-profile > *:not(:last-child) {
	margin-right: var(--gap);
}

.PageNav .user-profile .profile-image {
	--size: 40px;
	border-radius: 50%;
	height: var(--size);
	width: var(--size);
	object-fit: cover;
}
